.vs
ExotischNederland/bin
ExotischNederland/obj
Tests/bin
Tests/obj
/ExotischNederland/bin
/ExotischNederland/obj
/Tests/bin
/Tests/obj
packages
ExotischNederland/.env
/ExotischNederland/obj
/NaturePathfinder/bin/Debug/NaturePathfinder.exe
/NaturePathfinder/bin/Debug/NaturePathfinder.pdb
/NaturePathfinder/obj/Debug/NaturePathfinder.exe
/NaturePathfinder/obj/Debug/NaturePathfinder.pdb
/synergy.sln.DotSettings.user
/NaturePathfinder/obj
/NaturePathfinder/obj
/NaturePathfinder/bin
NaturePathfinder/bin/Debug/ExotischNederland.exe
NaturePathfinder/bin/Debug/ExotischNederland.pdb
NaturePathfinder/obj/Debug/NaturePathfinder.csproj.AssemblyReference.cache
NaturePathfinder/obj/Debug/NaturePathfinder.csproj.CoreCompileInputs.cache
NaturePathfinder/obj/Debug/NaturePathfinder.csproj.FileListAbsolute.txt
/NaturePathfinder/obj/Debug/NaturePathfinder.csproj.AssemblyReference.cache
